<header>
  <a routerLink="/">Bytebank</a>
  <a routerLink="/nova-transferencia" routerLinkActive="ativo">Nova transferência</a>
  <a routerLink="/pix" routerLinkActive="ativo">Pix</a>

</header>
<main>
  <router-outlet></router-outlet>
</main>
<!-- ao usar o router outlet ja pode usar rotas dinamicas -->

<!-- jeito estatico
<app-nova-transferencia></app-nova-transferencia>
<app-extrato></app-extrato>
-->
<!-- esse transferencia ja vira um atributo
que esta declado no proprio app componente
entao eu atribuo a transferencia ="transferencia" que esta no app.componente e passo por uma
bind para o componente extrato
-->

<!-- aqui e so usar o nome que esta no selector pra poder usar essa tag html personalziada -->
